body, html{

    background-color: black;
    color: white;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*
    color:#ccc;
    background-color: #121212;
    */
  }


/* formateando de imagen*/

.avatar{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    }
   /*modificacion a colores, letra y fondo de la nav bar*/
.bg-black{
    background-color: black;
}
a .navbar-brand{
color: white;
font-size: 20px;
font-family: 'Gothic A1', sans-serif;
font-weight: 900;

}

.image-podcast{
  height:180px;
  width: 180px;
  border-radius: 8px;
}

.btn {
    margin-right: 3px;
    margin-left: 3px;
    
}

.btn, .media-title, .tag-title {
  font-family: 'Gothic A1', sans-serif;
    font-weight: 800;
}

.p, .media-info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/*modificacion de clase button warning de bootstrap por blanca*/
.btn-outline-warning {
    color: #ffffff;
    border-color: #ffffff;
  }
  
  .btn-outline-warning:hover {
    color: #212529;
    background-color: #ffd720;
    border-color: #ffd720;
  }
  
  .btn-outline-warning:focus, .btn-outline-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  

/*modificacion de clase button para generar uno sin borde*/
.btn-inv-warning {
  color: rgb(70, 70, 70);
  border-color: rgb(27, 27, 27)
}

.btn-inv-warning:hover {
  color: #212529;
  background-color: #ffd720;
  border-color: #ffd720;
}

.btn-inv-warning:focus, .btn-inv-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

/*modificacion de clase button para generar uno sin borde para el tag*/
.btn-tag-warning {
  color: #ffffff;
  border-color: rgb(27, 27, 27);
}
.btn-tag-warning:hover {
  color: #ffffff;
  background-color: #444;
  border-color: #444;
}

.btn-tag-warning:focus, .btn-inv-warning.focus {
  box-shadow: 0 0 0 0.2rem #ffd720;
}


/*modificacion de clase button para generar un boton tag para las medias cards mas pequeño*/
.btn-tag-sm {
  color: #444;
  border-color: rgb(27, 27, 27);
  font-size: 14px;
}
.btn-tag-sm:hover {
  color: #ffffff;
  background-color: #444;
  border-color: #444;
}

.btn-tag-sm:focus, .btn-tag-sm.focus {
  box-shadow: 0 0 0 0.2rem #ffd720;
}


/*boton para tag media cards*/
.btn-tag-sm2 {
  color: #444;
  border-color: rgb(27, 27, 27);
  font-size: 14px;
}
.btn-tag-sm2:hover {
  color: #444;
  background-color: #444;
  border-color: #444;
}

.btn-tag-sm2:focus, .btn-tag-sm2.focus {
  box-shadow: 0 0 0 0.2rem #444;
}
.btn-tag-sm2.disabled, .btn-tag-sm2:disabled {
  color: #444;
  background-color: transparent;
}






/*barra de busqueda*/

.header_right {
	padding: 5px 0;
	text-align: right;
}
.header_search {
	display: inline-block;
	margin-right: 25px;
}

.header_search form {
	width: 225px;
	position: relative;
}

.header_search form input {
	width: 100%;
	height: 30px;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.3;
	background: transparent;
	border: none;
}

.header_search form input::-webkit-input-placeholder {
	color: #ffffff;
}

.header_search form input::-moz-placeholder {
	color: #ffffff;
}

.header_search form input:-ms-input-placeholder {
	color: #ffffff;
}

.header_search form input::-ms-input-placeholder {
	color: #ffffff;
}

.header_search form input::placeholder {
	color: #ffffff;
}

.header_search form input:hover {
  color: #ffd720;
  box-shadow: 0 0 0 0.2rem #ffd720;
}

.header_search form input:focus {
  color: #ffd720;
  box-shadow: 0 0 0 0.2rem #ffd720;
}


.header_search form button {
	font-size: 16px;
	color: #ffffff;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	top: 0;
    height: 100%;
    
}

.header_search form button:hover {
	color: #ffd720;
}
	

/*containers*/
.hosts-container .hosts-content {
  display: flex;
  flex-wrap: wrap;  
}
.hosts-content{ 
  background-color: rgb(27, 27, 27);
  border-radius: 12px;
}
.hosts-container .hosts-align-center .hosts-content {
  justify-content: center;
}

.hosts-container .hosts-align-right .hosts-content {
  justify-content: right;
}

.hosts-container .hosts-content .host {
  background: #ffffff;
  width: 31%;
  color: #444;
  text-align: center;
  margin-bottom: 3.5%;
  margin-right: 3.5%;
}
.hosts-container .hosts-content .host .host-inner {
  padding: 32px;
}


.dropdown-divider-dark {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #444;
}

.avatar {
  height: 40px;
  width: 40px;
  margin: 1px;
 }

 img {
  border-radius: 50%;
  height: 80px;
  width: 80px; 
  border: 1px solid #444;
}
.container-100{
  width: 100%;
  position: sticky;
  bottom: 0;
}

